<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>SEDS Resume Directory</title>	

	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="/static/bootstrap.min.css">

	    <script src="/static/jquery.min.js"></script> 
	    <script src="/static/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/static/me_webapp_general.css">

        {% block head %}
        {% endblock %}

	</head>	

	<body>


<!-- Fixed navbar -->
    <div id="mynavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">

          <a class="navbar-brand" href="/">
            MoonEx E-Procs Tool
          </a>


          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test Procedure List<b class="caret"></b></a>
                <ul class="dropdown-menu">
                   {% for test in tests_list %}                                 
                                <li>
                                     <a href="/test_page/{{test['test_num']}}">{{test['test_name']}}</a>
                                </li>
                            {% endfor %}
                </ul>
            </li>
            <li><a href="/create_procs">Create New Test</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://zoidberg.moonexpress.com:8090/display/MS/E-Procs+Tool">About</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

<br><br><br>

		<div class="row">
			<div class="col-md-3 col-md-offset-1" >

                {% block left_column %}
                {% endblock %}

			</div>

			<div class="col-md-7">
				<div style="padding:5px">

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% block end_row %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
