{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

{% if submission_success %}
	<div class="alert alert-success">
		<h4>You successfully submitted your resume!</h4>
	</div>
{% endif %}

<h3>Welcome to the SEDS Resume Directory!</h3>

<p>With this webapp you'll be able to: 
<ul>
	<li>search for a resume by keywords</li> 
	<li>add your own resume to be found by potential employers, co-founders, friends</li>
	<li>WAYYYY MOOOAARRR</li>
</ul>

<h5>Someone please add copy here. What do we want it to say/do?</h5>

{% endblock %}

{% block end_row %}


{% endblock %}