{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

{% if error %}
	<div class="alert alert-danger">
		<h5>You must fill out all fields.</h5>
	</div>
{% endif %}

<h3>Add a motorcycle:</h3>
<form action="/add_motorcycle" method="POST">
	<h4>Your Name:</h4>
	<input type="text" name="name"> <br>
	<h4>Make (ex. Kawasaki):</h4>
	<input type="text" name="make"> <br>
	<h4>Model (ex. Ninja):</h4>
	<input type="text" name="model"> <br>
	<h4>Personal Top Speed:</h4>
	<input type="text" name="top_speed"> <br>

	<input type="submit" style="margin-top: 5px;" class="btn btn-primary">
</form>

{% endblock %}

{% block end_row %}


{% endblock %}