{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

<h3>Search for Motorcycles:</h3>
<form action="/search" method="GET">
	<h6>Enter make that you'd like to search for:</h6>
	<input type="text" name="make"> <br>
	<input type="submit" style="margin-top: 5px;" class="btn btn-primary">
</form>

{% if search_attempt %}
	<h4>Results</h4>
	{% if result_list %}
		<ul>
		{% for result in result_list %}
		<li>Name: {{result['name']}} - Make: {{result['make']}} - Model: {{result['model']}} - Top Speed: {{result['top_speed']}}</li>
		{% endfor %}
		</ul>
	{% else %}
		<div class="alert alert-warning" role="alert">
			<h5>No results match that search...</h5>
		</div>
	{% endif %}
{% endif %}


{% endblock %}

{% block end_row %}


{% endblock %}